@model WebSite.Models.PaginationModel
@{
    ViewData["Title"] = "GetPostsPageByIndex";
}


<div class="container scroll-standalone" style="margin-top:100px;">
    @foreach (var item in Model.posts)
    {
        <div class="row border" asp-area="" asp-controller="Posts" asp-action="GetPost" asp-route-id="@item.PostID">
            <div class="col-8">
                <div class="post-user-info">

                    <p class="post-title">
                        <a class="nav-link text-dark"  asp-controller="Posts" asp-action="GetPost" asp-route-id="@item.PostID">@Html.DisplayFor(modelItem => item.Title)</a>
                    </p>
                    <p class="post-user-name">
                        posted by: <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Profile" asp-route-id="@item.PosterName">@Html.DisplayFor(modelItem => item.PosterName)</a>
                    </p>
                    <p class="post-description">
                        Description: <br>
                        @Html.DisplayFor(modelItem => item.Description)
                    </p>
                    <p class="post-stars">
                        @if (item.Stars == 1)
                        {
                            <img class="post-stars" src="~/images/1star.png">
                        }
                        @if (item.Stars == 2)
                        {
                            <img class="post-stars" src="~/images/2stars.png">
                        }
                        @if (item.Stars == 3)
                        {
                            <img class="post-stars" src="~/images/3stars.png">
                        }
                        @if (item.Stars == 4)
                        {
                            <img class="post-stars" src="~/images/4stars.png">
                        }
                        @if (item.Stars == 5)
                        {
                            <img class="post-stars" src="~/images/5stars.png">
                        }


                    </p>
                </div>
            </div>
            <div class="col-4">
                <img class="post-image" src=@item.ImageURL>
            </div>
        </div>

    }


    @if (Model.index > 1)
    {
    <p class="previous-button">
        <a class="nav-link text-dark" asp-area="" asp-controller="Posts" asp-action="GetPostsPageByIndex" asp-route-id=@(@Model.index - 1)>Previous Page</a>
    </p>
    }
    @if (Model.posts.Count == 5) 
    {
    <p class="next-button">
        <a class="nav-link text-dark" asp-area="" asp-controller="Posts" asp-action="GetPostsPageByIndex" asp-route-id=@(@Model.index + 1)>Next page</a>
    </p>
    }
</div>